
.bg-custom {
    background: linear-gradient(45deg, #7401ff, #c709fc) !important;
}
.icon {
    font-size: 2rem;
    padding: 5px 10px;
}
.pt-6{
    padding-top: 6rem !important;
}
.bg-custom > .container.justify-content-center {
    background: transparent;
}
.card-body.d-flex.justify-content-between.bg-secondary.text-white.align-items-center {
    border-radius: 0 0 5px 5px;
}